/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Custom css */
body {
    font-family: 'Poppins', sans-serif;
}

/* Background */
.honda-background {
    background-color: #264653;
}

/* section-gaps */
.honda-pt-1 {
    padding-top: 64px;
}

.honda-pt-2 {
    padding-top: 120px;
}


.honda-pb-1 {
    padding-bottom: 64px;
}

.honda-pb-2 {
    padding-bottom: 120px;
}


/* Buttons */
.honda-btn-outline,
.honda-btn {
    padding: 10px 25px;
    color: #E76F51;
    border: none;
    border: 1px solid #E76F51;
    border-radius: 5px;
    background: #fff;
    transition: all .3s ease;
}

.honda-btn-outline:hover {
    background-color: #E76F51;
    color: #fff;
}

.honda-btn {
    background-color: #E76F51;
    color: #fff;
    border: none;
}

.honda-btn:hover {
    background-color: #cf3f1b;
}

/* Text */
.text-orange {
    color: #E76F51;
}

/* Image grayscale */

.img-grayscale {
    filter: grayscale(1);
}